@font-face {
  font-family: 'Handjet';
  font-style: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/handjet/v19/oY108eXHq7n1OnbQrOY_2FrEwYEMLlcdP1mCtZaLaTutCwcIhGZemE3F.woff2) format('woff2');
}

@font-face {
  font-family: "Cutive Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cutivemono/v21/m8JWjfRfY7WVjVi2E-K9H6RCTm4.woff2)
    format("woff2");
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Handjet", serif;
  font-optical-sizing: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  scroll-behavior: smooth;
}
/* Light Theme  */
.light {
  background-color: rgb(255, 255, 255);
  color: black;
}

/* Dark Theme */
.dark {
  background-color: black;
  color: white;
}

.not-found {
  color: rgb(107, 5, 155);
  text-align: center;
  font-size: 2.5rem;
  height: 54vh;
}

.not-found h1 {
  font-family: "Cutive Mono";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  margin-top: 300px;
  border-bottom: 1px solid indigo;
}
